# Defines all services, their configurations, networking and volumes
# Subject requirement: This MUST be in srcs/ folder and be called by the Makefile services:

services:

  # NGINX - Web server that receives HTTPS requests
  nginx:
    build: requirements/nginx/.
    container_name: nginx
    ports:
      - "443:443"
    volumes:
      - wordpress_files:/var/www/html
    restart: unless-stopped
    networks:
      - inception
    depends_on:
      - wordpress

  # WORDPRESS - PHP application server with php-fpm
  wordpress:
    build: requirements/wordpress/.
    container_name: wordpress
    volumes:
      - wordpress_files:/var/www/html
    restart: unless-stopped
    networks:
      - inception
    depends_on:
      - mariadb

#   # SERVICE 3: MARIADB - Database server
  mariadb:
    build: requirements/mariadb/.
    container_name: mariadb
    volumes:
      - database:/var/lib/mysql
    restart: unless-stopped
    networks:
      - inception

# VOLUMES: Persistent storage (survive container restarts)
volumes:
  wordpress_files:                     # Volume for WordPress files
  database:                            # Volume for database files

# NETWORK: Allow containers to communicate
networks:
  inception:
    driver: bridge
